/* Start Den */
.operation-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111111;
  border-radius: 30px;
  color: white;
}

.header1 {
  display: flex;
  
}
/* Finish Den */

/* Start Misha */
.gear-up {
  font-weight: bold;
  font-size: 25px;
  margin: 25px;
}

.first{
    display: flex;
    justify-content: space-around;
}
.man1{
    display: flex;
    margin-right: 20px;
}
.woman1{
    display: flex;
    margin-right: 40px  ;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.O{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: 10;
}
.O2{
    background: #E5E5E5;
}
.O1{
    background: #F5F5F5;
}
.bottom{
    display: flex;

}
.smth{

}
.smth1{
}
.smth2{
}
/* Finish Misha */