/* Start Den */
.operation-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111111;
  border-radius: 30px;
  color: white;
}

.header1 {
  display: flex;
  
}
/* Finish Den */

/* Start Misha */
.gear-up {
  font-weight: bold;
  font-size: 25px;
  margin: 25px;
}

.first{
    display: flex;
}
.man {
    display: flex;
}
.woman{
    display: flex;
}
.top{
    display: flex;

}
.bottom{
    display: flex;
}
.O{
    width: 20px;
    border-radius: 50%;
}
.O2{
    background: #E5E5E5;
}
.O1{
    background: #F5F5F5;
}
/* Finish Misha */